In [2]:
import pandas as pd
import requests
import json
from matplotlib import pyplot as plt

In [3]:
SELECT_URL = 'https://smsrio.org/transparencia/server/colecao/getSelect'
PROCEDIMENTO_URL = 'https://smsrio.org/transparencia/server/colecao/getProcedimento'
UNIDADE_URL = 'https://smsrio.org/transparencia/server/colecao/getUnidade'

In [4]:
%%time
unidade = requests.get(UNIDADE_URL).json()
select = requests.get(SELECT_URL).json()
procedimento = requests.get(PROCEDIMENTO_URL).json()

CPU times: user 30 ms, sys: 10 ms, total: 40 ms
Wall time: 2.55 s

# for real

In [5]:
ATENDIDOS_URL = 'https://smsrio.org/transparencia/server/lista/atendidos'
payload = "{\"uni_sol\":\"\",\"uni_reg\":\"\",\"uni_exec\":\"\",\"procedimento\":\"%s\"}"
headers = {'Content-Type': "application/json;charset=UTF-8"}

In [17]:
%%time
listOfDFs = []

i = 0
for aProcedimento in procedimento[:2]:
    
    i += 1
    print('fetching %s (%d of %d)' % (aProcedimento['cod_procedimento'], i, len(procedimento)))
    
    try:
        aPayload = payload % aProcedimento['cod_procedimento']

        response = requests.request("POST", ATENDIDOS_URL, data=aPayload, headers=headers)
        aDf = pd.read_json(response.text)
        aDf['cod_procedimento'] = aProcedimento['cod_procedimento']
        listOfDFs.append(aDf)
    except Exception as e:
        print(e)
        print('Error on %s' % aProcedimento)

fetching 2018019 (1 of 487)
fetching 3108001 (2 of 487)
CPU times: user 50 ms, sys: 10 ms, total: 60 ms
Wall time: 4.51 s

In [18]:
%%time
df = pd.concat(listOfDFs)

CPU times: user 0 ns, sys: 10 ms, total: 10 ms
Wall time: 7.7 ms

In [19]:
df.shape

(1421, 12)

In [20]:
df.head()

,class_risco,cnes_exec,cnes_reguladora,cnes_sol,cns_paciente,cod_solicitacao,data_agendamento,data_execucao,data_nascimento,data_sol,nm_paciente,cod_procedimento
0,vermelho,SMS CMS MARIA CRISTINA ROMA PAUGARTTEN - AP 31,SMS FIOCRUZ/ENSP/CSE GERMANO SINVAL FARIA - AP 31,SMS FIOCRUZ/ENSP/CSE GERMANO SINVAL FARIA - AP 31,702801657601963,251149952,02/08/2018,01/10/2018,16/03/1965,01/08/2018,R S C,2018019
1,vermelho,SMS CMS MARIA CRISTINA ROMA PAUGARTTEN - AP 31,SMS SECRETARIA MUNICIPAL DE SAUDE DO RIO DE JA...,SMS CF FELIPPE CARDOSO - AP 31,700207430143922,258803059,29/09/2018,03/12/2018,16/05/1970,29/09/2018,A M P,2018019
2,vermelho,SMS CMS MARIA CRISTINA ROMA PAUGARTTEN - AP 31,SMS CMS MARIO OLINTO DE OLIVEIRA - AP 33,SMS CMS MARIO OLINTO DE OLIVEIRA - AP 33,706009869606044,238200255,19/04/2018,07/05/2018,27/01/1985,19/04/2018,B W S,2018019
3,vermelho,SMS CMS MARIA CRISTINA ROMA PAUGARTTEN - AP 31,SMS CMS NASCIMENTO GURGEL - AP 33,SMS CMS NASCIMENTO GURGEL - AP 33,700304970271439,252879292,15/08/2018,08/10/2018,04/04/1986,14/08/2018,P R S,2018019
4,vermelho,SMS CMS MARIA CRISTINA ROMA PAUGARTTEN - AP 31,SMS CF NILDA CAMPOS DE LIMA - AP 31,SMS CF NILDA CAMPOS DE LIMA - AP 31,708204652380141,243833660,06/06/2018,25/06/2018,16/08/1969,06/06/2018,M F S,2018019

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1421 entries, 0 to 211
Data columns (total 12 columns):
class_risco         1421 non-null object
cnes_exec           1421 non-null object
cnes_reguladora     1413 non-null object
cnes_sol            1421 non-null object
cns_paciente        1421 non-null int64
cod_solicitacao     1421 non-null int64
data_agendamento    1421 non-null object
data_execucao       1421 non-null object
data_nascimento     1421 non-null object
data_sol            1421 non-null object
nm_paciente         1421 non-null object
cod_procedimento    1421 non-null object
dtypes: int64(2), object(10)
memory usage: 144.3+ KB

In [22]:
df['data_sol'] = pd.to_datetime(df['data_sol'], format='%d/%m/%Y')
df['data_nascimento'] = pd.to_datetime(df['data_nascimento'], format='%d/%m/%Y')
df['data_execucao'] = pd.to_datetime(df['data_execucao'], format='%d/%m/%Y')
df['data_agendamento'] = pd.to_datetime(df['data_agendamento'], format='%d/%m/%Y')

In [23]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1421 entries, 0 to 211
Data columns (total 12 columns):
class_risco         1421 non-null object
cnes_exec           1421 non-null object
cnes_reguladora     1413 non-null object
cnes_sol            1421 non-null object
cns_paciente        1421 non-null int64
cod_solicitacao     1421 non-null int64
data_agendamento    1421 non-null datetime64[ns]
data_execucao       1421 non-null datetime64[ns]
data_nascimento     1421 non-null datetime64[ns]
data_sol            1421 non-null datetime64[ns]
nm_paciente         1421 non-null object
cod_procedimento    1421 non-null object
dtypes: datetime64[ns](4), int64(2), object(6)
memory usage: 144.3+ KB

,class_risco,cnes_exec,cnes_reguladora,cnes_sol,cns_paciente,cod_solicitacao,data_agendamento,data_execucao,data_nascimento,data_sol,nm_paciente,cod_procedimento
0,vermelho,SMS CMS MARIA CRISTINA ROMA PAUGARTTEN - AP 31,SMS FIOCRUZ/ENSP/CSE GERMANO SINVAL FARIA - AP 31,SMS FIOCRUZ/ENSP/CSE GERMANO SINVAL FARIA - AP 31,702801657601963,251149952,2018-08-02,2018-10-01,1965-03-16,2018-08-01,R S C,2018019
1,vermelho,SMS CMS MARIA CRISTINA ROMA PAUGARTTEN - AP 31,SMS SECRETARIA MUNICIPAL DE SAUDE DO RIO DE JA...,SMS CF FELIPPE CARDOSO - AP 31,700207430143922,258803059,2018-09-29,2018-12-03,1970-05-16,2018-09-29,A M P,2018019
2,vermelho,SMS CMS MARIA CRISTINA ROMA PAUGARTTEN - AP 31,SMS CMS MARIO OLINTO DE OLIVEIRA - AP 33,SMS CMS MARIO OLINTO DE OLIVEIRA - AP 33,706009869606044,238200255,2018-04-19,2018-05-07,1985-01-27,2018-04-19,B W S,2018019
3,vermelho,SMS CMS MARIA CRISTINA ROMA PAUGARTTEN - AP 31,SMS CMS NASCIMENTO GURGEL - AP 33,SMS CMS NASCIMENTO GURGEL - AP 33,700304970271439,252879292,2018-08-15,2018-10-08,1986-04-04,2018-08-14,P R S,2018019
4,vermelho,SMS CMS MARIA CRISTINA ROMA PAUGARTTEN - AP 31,SMS CF NILDA CAMPOS DE LIMA - AP 31,SMS CF NILDA CAMPOS DE LIMA - AP 31,708204652380141,243833660,2018-06-06,2018-06-25,1969-08-16,2018-06-06,M F S,2018019

In [61]:
df['delta_execucao'] = df['data_execucao'] - df['data_agendamento']
df['delta_agendamento'] = df['data_agendamento'] - df['data_sol']

In [67]:
#df.iloc[1]['delta_execucao'].days
#df.groupby('cod_procedimento').mean()

dfagg = df.copy()

dfagg['delta_execucao'] = dfagg['delta_execucao'].dt.days
dfagg['delta_agendamento'] = dfagg['delta_agendamento'].dt.days

dfagg.groupby('cod_procedimento')['delta_execucao','delta_agendamento'].agg(['min','mean','max'])

#dfagg.iloc[0]

                 delta_execucao                delta_agendamento             \
                            min       mean max               min       mean
cod_procedimento
2018019                       0  21.308519  73                 0   0.851944
3108001                       3  17.726415  35                 0  14.985849


                   max
cod_procedimento
2018019            121
3108001           1047